<header class="d-flex mb-3 pt-5 justify-content-between">
    <h2>Manager</h2>
    <button style="margin-right: 210px;" class="btn btn-primary" routerLink="/admin/product/add">Add Product</button>
</header>
<br>
<table class="table table-bordered" style="width: 60%; margin-left: 400px; margin-top: 100px;">
    <thead class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Desc</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <th scope="row"></th>
            <td>{{product.id}}</td>
            <td><img style="width:100px" class="card-img-top" [src]="product.img" alt=""></td>
            <td>{{product.name}}</td>
            <td>${{product.price}}</td>
            <td>{{product.desc}}</td>
            <td>
                <button class="btn btn-primary" routerLink="/admin/product/detail/{{product.id}}">Detail</button>
                <button class="btn btn-info ml-3" routerLink="/admin/product/edit/{{product.id}}">Edit</button>
                <button class="btn btn-danger ml-3" (click)="removeItem(product.id)">Delete</button>
            </td>
        </tr>

    </tbody>
</table>